.row
  .col-lg-8
    .panel.panel-default
          .panel.heading
            = link_to t("private.tickets.close"), close_ticket_path(@ticket), method: :patch, confirm: t("private.tickets.close_confirm"), class: "btn btn-danger"
            | &nbsp &nbsp &nbsp
            = link_to t("back"), tickets_path, class: "btn btn-info"
          .panel.body  
            .row
              .panel.panel-success
                .panel-heading 
                    h4 = "#{I18n.t('private.tickets.me')} - #{@ticket.title}"
                .panel-body
                    .row
                        .col-lg-12
                          p = @ticket.content
                        .col-lg-4
                          i.fa.fa-clock-o.text-info
                          span = time_ago_in_words @ticket.created_at

              - @comments.each do |c|
                .panel.panel-default style = 'padding-left:70px;'
                  .panel-heading
                      h4 = "#{member_tittle(c.author)}"
                  .panel-body
                      ul
                        li.list-item
                          p = c.content
                        li.list-item
                                i.fa.fa-clock-o.text-info
                                span = time_ago_in_words c.created_at

            = simple_form_for @comment, url: ticket_comments_path(@ticket.id) do |f|
              .panel.panel-default 
                .panel-heading "Reply"
                .panel-body
                  = f.input :content, label: false,  input_html: { rows: 3 }
                  hr.split
                  = f.button :wrapped
