<h2 class="panel-title">{{"funds.deposit_cny.title" | t}}</h2>
<div class="help-block">
  {{ "funds.deposit_cny.desc" | t }}
  <ul>
    <li>{{ "funds.deposit_cny.desc_item_1" | t }}</li>
    <li>{{ "funds.deposit_cny.desc_item_2" | t }} </li>
    <li>{{ "funds.deposit_cny.desc_item_3" | t }}</li>
  </ul>
  <span class="text-danger">{{ "funds.deposit_cny.attention" | t }}</span>
</div>

<ng-include src="'/templates/funds/_deposit_bank.html'"></ng-include>
<ng-include src="'/templates/funds/_deposit_bank_history.html'"></ng-include>

